/*styles.css*/


footer {
    padding:25px;
    background-color: #1F2937;
    color:white;
    display:flex;
    justify-content: center;
    flex-flow: row;
}

h1 {
    background-color: #1F2937;
    color: white;
}

img {
    max-width: 200%;
    max-height: auto;
    object-fit: contain;
    border:2px solid blue;
    border-radius: 20px;
}

#photo-container {
    border:1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.subtext {
    display: flex;
}

.content-tile {
    width:150px;
    height:150px;
    padding: 25px;
    margin:20px;
    display:flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
}