/*styles.css*/

/* Contents
    1.Universal
    2.Nav bar
    3.Header
    4.Content
    5.Quote
    6.Sign up
    7.Footer
*/

/*```````````````````
    1.Universal 
 ````````````````````*/

 body {
     font-family: Arial, Helvetica, sans-serif;
 }

 /*``````````````````````
    2.Nav bar
````````````````````````*/
h1 {
    font-size: 48px;
    font-weight: extra-bold;
} 

.ux_headerIcon {
    width: 150px;
    height: 150px;
}

.ux_navbar {
    background-color: #1F2937;
    color:white;
}


/*`````````````````````
    3.Header
```````````````````````*/
.ux_header{
    background-color: #1F2937;
    color: #f9faf8;
    padding:100px;
    display: flex;
}

.ux_title {
    padding: 10px;
    gap:20px;
    display:flex;
    flex-flow: column wrap;
    align-items: baseline;
    justify-content: center;
}

.ux_title button {
    background-color: #3882f6;
    color: white;
    padding: 10px;
    justify-content: center;

}

.ux_titleImg {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.ux_titleImg img{
    max-width: 50%;
    max-height: auto;
    object-fit: contain;
}

/*``````````````````````
    4.Content
```````````````````````` */

.photo-container {
    /* border:1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}


.subtext {
    display: flex;
}

.content-tile {
    width:150px;
    height:150px;
    padding: 25px;
    margin:20px;
    display:flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
}

.content-tile img {
    max-width: 100%;
    max-height: auto;
    object-fit: contain;
    border:2px solid #3882f6;
    border-radius: 20px;
}

.content-tile p {
    align-self: center;
}

/*`````````````````````
    5.Quote
``````````````````````` */
.ux-quotation {
    background-color: #e5e7eb;
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    display: flex;
}

/*`````````````````````
    6.Sign up
``````````````````````` */


/*``````````````````````
    7.Footer
````````````````````````*/
footer {
    padding:25px;
    background-color: #1F2937;
    color:white;
    display:flex;
    justify-content: center;
    flex-flow: row;
}
